.frst {
  background-color: rgb(250, 250, 250);
  background: linear-gradient(0deg, #fafafa 50%,#949090 50%, #000000 50% );
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.scnd {
  justify-content: space-between;
}

img {
  width: 500px;
  height: auto;
}

.image1 {
  width: 500px;
}

p {
  color: rgb(129, 87, 32);
  text-transform: uppercase;
}
