.frst {
  justify-content: space-evenly;
  display: flex;
  align-items: stretch;
}
.scnd {
  justify-content: space-between;
}

img {
  width: 250px;
  height: auto;
}

p {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

header{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 75px;
  justify-content: space-evenly;
  display: flex;
  align-items: center
}