.frst {
  background-color: aquamarine;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.scnd {
  background-color: coral;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}

.image1 {
}

p {
  color: rgb(129, 87, 32);
  text-transform: uppercase;
}
